<a href="https://colab.research.google.com/github/abidhasantuhin/OOP-Lab-2/blob/main/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating list

lst0=[1,2,3,32,2.23,43.23,"Tuhin",[2,32,3]]
print(lst0)
lst1=[]

[1, 2, 3, 32, 2.23, 43.23, 'Tuhin', [2, 32, 3]]

In [ ]:
#iterating list

lst0=[1,2,3,32,2.23,43.23,"Tuhin",[2,32,3]]
for i in lst0:
    print(i,end=' ')
print('')

1 2 3 32 2.23 43.23 Tuhin [2, 32, 3]

In [ ]:
#iterating list

lst0=[1,2,3,32,2.23,43.23,"Tuhin",[2,32,3]]
print(lst0[2])
print(lst0[6])
print(lst0[-2])
print(lst0[-8])

3
Tuhin
Tuhin
1

In [ ]:
#List operations

lst0=[1,2,3,32,2.23,43.23,"Tuhin",[2,32,3]]

print(len(lst0))                #len( ) gives the length of the list

lst0.append([12,2,12,2])        #append( ) inserts an element to the end of the list
print(lst0)

lst0.insert(2,"pandas")         #insert( ) insertes an element on a given index
print(lst0)

lst0.remove(3)                  #remove( ) removes first occurence of an element
print(lst0)

print(lst0.index("Tuhin"))     #index( ) returns index of first occurence of an element

print(lst0.count('pandas'))     #count( ) reuturns the number of occurence of an element

print(lst0.reverse())           #reverse( ) makes a reverse list

lst1=lst0.copy()                #copy( ) makes a copy of list
print(lst1)

lst0.clear()                    #clear( ) makes the list empty

8
[1, 2, 3, 32, 2.23, 43.23, 'Tuhin', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 3, 32, 2.23, 43.23, 'Tuhin', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 32, 2.23, 43.23, 'Tuhin', [2, 32, 3], [12, 2, 12, 2]]
6
1
None
[[12, 2, 12, 2], [2, 32, 3], 'Tuhin', 43.23, 2.23, 32, 'pandas', 2, 1]

In [ ]:
#lsit slicing

lst0=[1,2,3,32,2.23,43.23,"Tuhin",[2,32,3]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[3, 32, 2.23, 43.23, 'Tuhin']
[3, 32, 2.23, 43.23, 'Tuhin', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.23, 'Tuhin', [2, 32, 3]]

In [ ]:
#list sorting

lst2=[1,2,4,2,4,2,4,2,5,6,7,4]

lst3=sorted(lst2)
print(lst3)
print(lst2)
lst2.sort()
print(lst2)

[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]
[1, 2, 4, 2, 4, 2, 4, 2, 5, 6, 7, 4]
[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]

In [ ]:
#creating tuple

tp0=(1,2,3,32,2.23,43.23,"Tuhin",[2,32,3])
print(tp0)
tp1=()

(1, 2, 3, 32, 2.23, 43.23, 'Tuhin', [2, 32, 3])

In [ ]:
#iterating tuple

tp0=(1,2,3,32,2.23,43.23,"Tuhin",[2,32,3])
for i in tp0:
    print(i,end=' ')
print('')

1 2 3 32 2.23 43.23 Tuhin [2, 32, 3]

In [ ]:
#iterating tuple

tp0=(1,2,3,32,2.23,43.23,"Tuhin",[2,32,3])
print(tp0[2])
print(tp0[6])
print(tp0[-2])
print(tp0[-6])

3
Tuhin
Tuhin
3

In [ ]:
#inserting into tuple

tp0=(1,2,3,32,2.23,43.23,"Tuhin",[2,32,3])
tp0+=("pandas",232,3,232,3)
print(tp0)

(1, 2, 3, 32, 2.23, 43.23, 'Tuhin', [2, 32, 3], 'pandas', 232, 3, 232, 3)

In [ ]:
#unpacking sequences

lst=[2,3,423,43]
a,b,c,d=lst
print(a)
print(b)
print(c)
print(d)

2
3
423
43

In [ ]:
#unpacking sequences

tp=(2,3,423,43)
a,b,c,d=tp
print(a)
print(b)
print(c)
print(d)

2
3
423
43